@page "/home"

<PageTitle>Home</PageTitle>

<h1>Hola, bienvenido a la aplicación de Súper Digito, donde se puede realizar el calculo de un super digito de un numero dado, consultar el historial y realizar el borrado del historico</h1>
